@{
    ViewData["Title"] = "Scegli la nazione del campionato interessato";
}
<h1>@ViewData["Title"]</h1>

<p>scegli la nazione del campionato al quale sei interessato per sapere la classiffica marcatori e noi te la sveleremo.</p>

 